@model Flotas.Models.Conductor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conductor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
    </dl>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Kilometraje Actual</th>
            <th>Año</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camion in Model.Camiones)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => camion.Marca)</td>
                <td>@Html.DisplayFor(modelItem => camion.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => camion.Placa)</td>
                <td>@Html.DisplayFor(modelItem => camion.KilometrajeActual)</td>
                <td>@Html.DisplayFor(modelItem => camion.Anio)</td>
                <td>@Html.DisplayFor(modelItem => camion.Estado)</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
