@model Flotas.Models.Taller

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Taller</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            Capacidad Max Reparaciones
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadMaximaReparacionesSimultaneas)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Tipo de Mantenimiento</th>
            <th>Fecha de Mantenimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MantenimientosProgramados)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMantenimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
